<html>
    <head>
        <title>Escoja un cuento</title>
    </head>
    <body>
        <h1>Lista de cuentos</h1>
        <form action="Controlador.class.php" method="POST">
            <input type="button" value="1" name="cuento"/>
            <input type="button" value="2" name="cuento"/>
            <input type="button" value="3" name="cuento"/>
            <input type="button" value="4" name="cuento"/>
            
            <input type="submit"/>
        </form>
    </body>    
</html>